
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #8ECAE6   ;
  --secondary-color: #219EBC ;
  --accent1-color: #023047;
  --accent2-color: #FFFFFF;

  /* change the values below to your chosen font(s) */
  --font-family: "Sofia Sans";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #00e6d6;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #0eec50; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

.home-title {
  font-family: "Sofia Sans", 'Bradley Hand', sans-serif;
  font-size: 2em;
}

.msg {
  background-color: #6f7364;
  line-height: 1.5em;
}

body {
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}

.book, .join {
  background-color: blue;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
}

.book, .join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.card-img {
  border: 10px solid #d9c2a3;
}
main section img {
  box-sizing: border-box;
}
          