

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  /* --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif; */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    background: #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF 0%, #DAE7FF 59%, #001c50 100%);
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Navigation */

.home-title, .msg h2 {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main, section {
    text-align: center;
    transition: ease-in-out 0.3s;
}

nav a {
    color: #809BCE;
    padding: 35px;
}

nav a:hover {
    background-color: #19c3f2;
    color: white
}
header {
    background-color: #001c50;
}

/* Main */

main section img {
    box-sizing: border-box;
}

#hero-img {
    width: 100%;
}

.home-title {
    margin-top: 10px;
    font-size: 2em;
    color: #809BCE;
}

section h4 {
    color: rgb(255, 156, 173);
}

.icon {
    padding-top: 10px;
    width: 50px;
    filter: brightness(200%);
}

.book, .join {
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    color: #565554;
    font-weight: 600;
    background-color: #96efa6;
    padding: 5px 15px;
    margin: 12px;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}
.book:hover, .join:hover {
    background-color: #1de727;
    color: white;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0px;
}

.card-img {
    border: 10px solid black;
}

#background {
    height: 725px;
    background-color: #565554;
}

.msg {
    padding: 35px;
    background-color: pink;
    line-height: 1.5em;
}

.msg h2{
    background-color: white;
}

.msg p {
    padding-bottom: 15px;
    font-size: 0.8em;
    color: #565554;
}

/* Footer */

footer {
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #565554;
    color: white;
}

footer > .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
    transition: ease-in-out 0.3s;
}

footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: white;
    transition: ease-in-out 0.3s;
}
footer a:hover {
    color: rgb(172, 172, 172);
}