
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans&display=swap');

.home-title {
    font-family: "Sofia Sans", Helvetica, sans-serif;
    font-size: 2em;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }

  body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

.book, .join {
    background-color: blue;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}